<div class="event">

  <h1><%= link_to event.name, event_url(event) %></h1>
  <h3>Happening in <%= event.city %></h3>
  <h3>Date: <%= event.date %></h3>
  <h3>Capacity: <%= event.capacity %></h3>

</div>
