<% array = [] %>

<% @locations.each do |current_location| %>
  <% array = [current_location, "index"] %>
  <%= render 'single_location', location: array[0] %>
  <%= render 'location_edit', location: array %>
<% end %>

<p>
  <%= link_to 'New Location', new_location_path %>
</p>
