<% @locations.each do |current_location| %>
  <%= render 'single_location', location: current_location %>
  <%= render 'location_edit', location: current_location %>
<% end %>

<p>
  <%= link_to 'New Location', new_location_path %>
</p>
